    <link href="css/datatables.min.css?{{ time }}" rel="stylesheet" type="text/css"/>
    <link href="css/jquery.dataTables.min.css?{{ time }}" rel="stylesheet" type="text/css"/>
    <link href="datepicker/css/datepicker.css?{{ time }}" rel="stylesheet" type="text/css"/>
    <link href="css/custom.css?{{ time }}" rel="stylesheet" type="text/css"/>

    <script src="js/jquery-3.3.1.min.js?{{ time }}" type="text/javascript"></script>

    <script src="js/serialize.js?{{ time }}" type="text/javascript"></script>

    <script src="datatables/js/jquery.dataTables.js?{{ time }}" type="text/javascript"></script>

    <script src="datepicker/js/datepicker.js?{{ time }}" type="text/javascript"></script>

    <script src="js/main.js?{{ time }}" type="text/javascript"></script>

    <div class="js-response-loader loader-cover container-loader" id="loader" style="display: none;">
        <div class="css-loader-circle"></div>
    </div>
    <div class="body">

        <div class="row">
            <div class="col-sm-2">
                <button class="btn btn-primary js-add-new-person">Add new</button>
            </div>
        </div>

        <table class="js-datatable dataTable">
            <thead>
                <tr>
                    <th>first name</th>
                    <th>last name</th>
                    <th>Email</th>
                    <th>birthday</th>
                    <th>phone number</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for person in persons %}
                    <tr>
                        <td>{{ person.firstname }}</td>
                        <td>{{ person.lastname }}</td>
                        <td>{{ person.email }}</td>
                        <td>{{ person.birthday }}</td>
                        <td>{{ person.phones[0] is defined ? person.phones[0].number : '' }}{{ person.phones[1] is defined ? ', ...' : '' }}</td>
                        <td>
                            {% for phone in person.phones %}
                                {{ phone.number }},
                            {% endfor %}
                        </td>
                        <td><button class="btn btn-primary js-edit" data-id="{{ person.id }}">Edit</button></td>
                        <th><button class="btn btn-danger js-delete" data-id="{{ person.id }}">Delete</button></th>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

    <!--MODAL EDIT PERSON-->
    <div class="modal fade in delete" id="edit-person" tabindex="-1" role="dialog" aria-labelledby="ultraModal-Label" aria-hidden="true">
        <div class="modal-dialog animated bounceInUp">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <form class="edit-person-form js-edit-person">
                        <input class="js-id" name="id" type="text" style="display: none;">
                        <div class="row">
                            <div class="col-sm-4">
                                Firstname:
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control js-firstname" name="firstname" type="text">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                Lastname:
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control js-lastname" name="lastname" type="text">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                Email:
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control js-email" name="email" type="text">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                Birthday:
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control js-birthday js-datepicker" name="birthday">
                            </div>
                        </div>

                        <div class="js-add-phone-number">
                            <div class="row js-phonenumbers-list">
                                <div class="col-sm-4">
                                    Phone number:
                                </div>
                                <div class="col-sm-8 top15">
                                    <input class="form-control js-phonenumber" name="phonenumber[]" placeholder="+380123456789 or 0123456789" type="text">
                                </div>
                            </div>
                            <div class="col-sm-8 hide pull-right" id="phonenumber-field-template">
                                <input class="form-control" style="width: 85%;" name="phonenumber[]" placeholder="+380123456789 or 0123456789" type="text" disabled>
                                <span class="js-remove-phonenumber remove-phonenumber pull-right btn btn-sm btn-danger">x</span>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="add-phonenumber pull-left btn btn-sm btn-primary square-add" id="add-another-phonenumber">
                                        + Add number
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                    <button class="btn btn-primary js-update" type="button">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!--/MODAL EDIT PERSON-->

    <!--MODAL DELETE PERSON-->
    <div class="modal fade in delete" id="delete-person" tabindex="-1" role="dialog" aria-labelledby="ultraModal-Label" aria-hidden="true">
        <div class="modal-dialog modal-delete-person animated bounceInUp">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="modal-img">
                        <img src="images/delete.png" alt="">
                    </div>
                    <div class="title">Do you want to delete it?</div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                    <button class="btn btn-primary js-delete-person" type="button">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <!--/MODAL DELETE PERSON-->
